@model Coppex.Models.Proj_Pesquisa
@using (Ajax.BeginForm("Informacoes", new AjaxOptions
{
    UpdateTargetId = "abaAtual",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Proj_Pesquisa</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.NomeProjeto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeProjeto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomeProjeto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModalidadeExecucao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.ModalidadeExecucao, "PROBIC", new { id = "PROBIC" })
                <label for="PROBIC">PROBIC</label>
                @Html.RadioButtonFor(model => model.ModalidadeExecucao, "PROVIC", new { id = "PROVIC" })
                <label for="PROVIC">PROVIC</label>
                @Html.RadioButtonFor(model => model.ModalidadeExecucao, "PROPC", new { id = "PROPC" })
                <label for="PROPC">PROPC</label>
                @Html.ValidationMessageFor(model => model.ModalidadeExecucao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LinhaPesquisa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LinhaPesquisa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LinhaPesquisa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreaConhecimento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.AreaConhecimento, "Ciências Humanas", new { id = "ch" })
                <label for="ch">Ciências Humanas</label>
                @Html.RadioButtonFor(model => model.AreaConhecimento, "Ciências sociais Aplicadas", new { id = "csa" })
                <label for="csa">Ciências sociais Aplicadas</label>
                @Html.RadioButtonFor(model => model.AreaConhecimento, "Ciências Exatas", new { id = "ce" })
                <label for="ce">Ciências Exatas</label>
                @Html.RadioButtonFor(model => model.AreaConhecimento, "Ciências da Saúde", new { id = "cs" })
                <label for="cs">Ciências da Saúde</label>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocalExecucao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocalExecucao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocalExecucao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InicioProj, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InicioProj, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InicioProj, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FimProj, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FimProj, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FimProj, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublicoAlvo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PublicoAlvo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PublicoAlvo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Resumo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Resumo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Resumo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

